openapi: 3.0.3
info:
  title: 客服 Agent API
  version: 1.0.0
  description: Chainup 客服 Agent 核心 API。前端嵌件、商户后台和人工客服系统通过此 API 与 Agent 交互。
servers:
  - url: https://agent.api.chainup.com/v1
    description: 生产环境
  - url: https://agent-staging.api.chainup.com/v1
    description: 预发布环境

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 终端用户 JWT Token（用于涉及个人数据的查询）
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: 商户 API Key（商户后台配置接口）
    AgentSignature:
      type: apiKey
      in: header
      name: X-Agent-Signature
      description: HMAC-SHA256 签名，格式 {userId}:{merchantId}:{timestamp}:{nonce}

  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          description: 错误码（2000-2999 Agent 内部错误，3000-3999 API 调用错误）
        message:
          type: string
          description: 错误描述
        requestId:
          type: string
          description: 请求 ID，用于审计追溯
      required: [code, message, requestId]

    MessageRequest:
      type: object
      properties:
        instanceId:
          type: string
          description: 实例 ID（首次为 null，服务端创建并返回）
        message:
          type: string
          maxLength: 1000
          description: 用户输入
        tenantId:
          type: string
          description: 商户 ID（多租户隔离）
      required: [message, tenantId]

    MessageResponse:
      type: object
      properties:
        instanceId:
          type: string
          description: 实例 ID
        replyType:
          type: string
          enum: [L1_DIRECT, L2_CONFIRM, L3_TRANSFER, ERROR, PENDING]
          description: 回复类型
        replyContent:
          type: string
          description: 回复内容
        confirmCard:
          $ref: '#/components/schemas/ConfirmCard'
          description: L2 确认卡片（仅 replyType=L2_CONFIRM 时存在）
        requestId:
          type: string
          description: 确认卡片幂等标识（仅 L2_CONFIRM 时存在）

    ConfirmCard:
      type: object
      properties:
        requestId:
          type: string
          description: 幂等去重唯一标识
        operationPreview:
          type: string
          description: 操作预览
        impact:
          type: string
          description: 影响范围
        expiresAt:
          type: string
          format: date-time
          description: 确认超时时间

    ConfirmAction:
      type: object
      properties:
        requestId:
          type: string
          description: 确认卡片 ID
        action:
          type: string
          enum: [confirm, cancel]
          description: 确认或取消
      required: [requestId, action]

    L3TransferSummary:
      type: object
      properties:
        instanceId:
          type: string
          description: 实例 ID
        sessionId:
          type: string
          description: 会话 ID
        summary:
          type: string
          description: 脱敏后的问题摘要
        fullHistoryHash:
          type: string
          description: 全量对话历史 hash（按需获取）
        transferredAt:
          type: string
          format: date-time

    EscalationCallback:
      type: object
      properties:
        instanceId:
          type: string
          description: 实例 ID
        status:
          type: string
          enum: [resolved, unresolved, forwarded]
          description: 人工处理结果
      required: [instanceId, status]

    OfflineEvalRequest:
      type: object
      properties:
        tenantId:
          type: string
          description: 商户 ID
        datasetUrl:
          type: string
          description: 标注数据集文件 URL
        datasetFormat:
          type: string
          enum: [csv, json]
          default: csv
      required: [tenantId, datasetUrl]

    EvalReport:
      type: object
      properties:
        tenantId:
          type: string
        passed:
          type: boolean
        metrics:
          type: object
          properties:
            accuracy:
              type: number
            l1Rate:
              type: number
            escalationAccuracy:
              type: number
            responseTime:
              type: number
            kbHitRate:
              type: number
        sceneBreakdown:
          type: array
          items:
            type: object
            properties:
              scene:
                type: string
              accuracy:
                type: number
              errorCount:
                type: integer
              topErrorType:
                type: string
        topErrors:
          type: array
          items:
            type: string

    AuditLogQuery:
      type: object
      properties:
        tenantId:
          type: string
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        funnelLevel:
          type: string
          enum: [L1, L2, L3]
        scene:
          type: string
        page:
          type: integer
          default: 1
        pageSize:
          type: integer
          default: 20

    AuditLogEntry:
      type: object
      properties:
        eventId:
          type: string
        timestamp:
          type: string
          format: date-time
        merchantId:
          type: string
        sessionId:
          type: string
        classification:
          type: string
        confidence:
          type: number
        funnelLevel:
          type: string
        actionTaken:
          type: string
        errorLevel:
          type: string
          nullable: true
        userSatisfied:
          type: boolean
          nullable: true

    GrayscaleConfig:
      type: object
      properties:
        phase:
          type: string
          enum: [SHADOW, LIMITED, FULL]
          description: 灰度阶段
        userPercentage:
          type: integer
          minimum: 0
          maximum: 100
          description: 用户比例（仅 Phase 2 有效）
        enabledScenes:
          type: array
          items:
            type: string
            enum: [FAQ, ACCOUNT, DEPOSIT_WITHDRAW, KYC, TRADE, GAS]
          description: 开放的场景列表

paths:
  /instances:
    post:
      summary: 创建 Agent 实例
      tags: [Instance]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tenantId:
                  type: string
                userId:
                  type: string
      responses:
        '200':
          description: 实例创建成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  instanceId:
                    type: string

  /instances/{instanceId}/messages:
    post:
      summary: 发送消息（核心对话接口）
      tags: [Message]
      security:
        - BearerAuth: []
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageRequest'
      responses:
        '200':
          description: 处理成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '429':
          description: API 限流（30 次/分钟超限）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /instances/{instanceId}/confirm:
    post:
      summary: 确认/取消 L2 操作（幂等）
      tags: [Confirmation]
      security:
        - BearerAuth: []
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmAction'
      responses:
        '200':
          description: 确认处理成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [accepted, already_processed, expired]
                  message:
                    type: string
        '409':
          description: 重复确认（已处理）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /instances/{instanceId}/escalation-callback:
    post:
      summary: 人工客服处理完成回调
      tags: [Escalation]
      security:
        - AgentSignature: []
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EscalationCallback'
      responses:
        '200':
          description: 回调处理成功

  /merchant/config:
    get:
      summary: 获取商户配置
      tags: [Merchant Config]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: tenantId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 商户配置
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantConfig'
    put:
      summary: 更新商户配置
      tags: [Merchant Config]
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantConfig'

  /merchant/knowledge-base/faq:
    get:
      summary: 查询 FAQ 列表（分页）
      tags: [Knowledge Base]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: tenantId
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: FAQ 列表
    post:
      summary: 新增 FAQ
      tags: [Knowledge Base]
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tenantId:
                  type: string
                question:
                  type: string
                  maxLength: 200
                answer:
                  type: string
                  maxLength: 5000
                category:
                  type: string
      responses:
        '200':
          description: FAQ 创建成功

  /merchant/knowledge-base/test-search:
    post:
      summary: 测试搜索（方便商户调优）
      tags: [Knowledge Base]
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tenantId:
                  type: string
                query:
                  type: string
      responses:
        '200':
          description: Top 5 匹配结果 + 匹配分

  /eval/offline:
    post:
      summary: 触发离线评测
      tags: [Evaluation]
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfflineEvalRequest'
      responses:
        '200':
          description: 评测报告
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvalReport'

  /eval/grayscale:
    get:
      summary: 获取当前灰度配置
      tags: [Evaluation]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: tenantId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 灰度配置
    put:
      summary: 更新灰度配置
      tags: [Evaluation]
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrayscaleConfig'
      responses:
        '200':
          description: 灰度配置更新成功

  /audit/logs:
    get:
      summary: 查询审计日志
      tags: [Audit]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: tenantId
          in: query
          required: true
          schema:
            type: string
        - name: startTime
          in: query
          required: true
          schema:
            type: string
        - name: endTime
          in: query
          required: true
          schema:
            type: string
        - name: funnelLevel
          in: query
          schema:
            type: string
        - name: scene
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 审计日志列表
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLogEntry'
